<h1>All Flights Listed</h1>

<table border="1">
  <thead>
    <tr>
      <th>Airline </th>
      <th>Number</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.airline.name%> </td>
      <td><%= link_to flight.number, flight %></td>
      <td>
        <%= link_to 'Edit', edit_flight_path(flight.id) %>
        <%= link_to 'Delete', flight, :method => 'delete' %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Flight', new_flight_path %></p>